    /* TABLET */

    @media(max-width: 992px) {
        .nav-links {
            gap: 20px;
        }

        .nav-btn {
            padding: 11px 16px;
        }

        .hero {
            flex-direction: column;
            gap: 50px;
            text-align: center;
        }

        .hero-text {
            width: 100%;
        }

        .hero-img {
            width: 100%;
        }

        .hero-btn {
            justify-content: center;
        }
    }

    /* Mobile */
    @media(max-width: 768px) {

        .nav-links,
        .nav-btn {
            display: none;
        }

        .menu-icon {
            display: block;
        }

        .navbar {
            padding: 0px 7%;
        }

        .navbar img {
            width: 140px;
        }

        .hero {
            padding: 30px 13%;
        }

        .hero-text h1 {
            font-size: 32px;
        }

        .hero-text h1 span {
            font-size: 34px;
        }

        .hero-text p {
            font-size: 16px;
        }

        .hero-btn {
            flex-direction: column;
        }

    }